body
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial'
  font-size: 10pt

body
  padding: 0
  margin: 0

#appContainer, .topContainer
  overflow: hidden
  left: 0
  right: 0
  bottom: 0
  top: 0
  position: absolute

.topContainer
  display: flex
  flex-direction: column

.appHeader
  background: #8AC
  padding-left: 20px
  flex: 0 0 50px

  h1
    margin-top: 10px
    margin-bottom: 0

.appBody
  flex: 1 1 auto
  display: flex

.leftPanel
  background: #BDF
  flex: 0 1 200px

.contentContainer
  background: #DEF
  padding: 10px 20px
  overflow: auto
  flex: 1 1 200px

table
  border-collapse: collapse

td
  height: 24px
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  max-width: 200px

th, td
  padding-left: 5px
  padding-right: 5px

td
  cursor: pointer

tr
  border-bottom: 1px solid #666

tr:hover
  background: #ADF
